body {
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    color: #ffffff;
    padding: 20px 40px;
}

.header-list,
.hero-paragraph {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 18px;
    color: #e5e7eb;
}

.header-list {
    padding: 20px 40px;
}

.hero {
    padding: 30px 10px 90px;
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero-left {

    display: flex;
    flex-direction: column;
    flex: 0 0 40%;
    /* margin-left: 10px; */
}

h1 {
    color: #ffffff;
    font-size: 48px;
    margin-bottom: 0;
    padding-bottom: 0px;
}

button {
    width: 7em;
    background-color: #3882F6;
    color: #fff;
    border: none;
    border-radius: 10px;
}

.info-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-section>div>h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
}

.info-blocks {
    display: flex;
    justify-content: center;
}

.info-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex: 0 0 25%;
}

.info-list>li {
    padding: 20px;
}

.info-list>li>p {
    text-align: center;
}

.quote-section {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.quote-section>.quote {
    width: 60%;
    margin-bottom: 0;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

.quote-section>.quoted {
    width: 50%;

    text-align: right;
    font-weight: bold;
    font-size: 18px;
}

.call-action {
    width: 65%;
    height: 40%;
    background-color: #3882F6;
    color: #ffffff;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 15px 65px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.call-action-header {
    margin-bottom: 0;
}

.call-action-left>p {
    margin-top: 0;
    color: #d5d7d9;
}

.call-action-right {
    margin: 40px;
}

.call-action-right>button {
    border-radius: 5px;
    border-color: #e5e7eb;
    border: 1px solid;
    padding: 10px;
}

.footer {
    padding: 16px;
    background-color: #1f2937;
    color: #c7c5c5;
    display: flex;
    justify-content: center;
}

.footer>p {
    font-size: 16px;
}